.row {
  margin-left: 0;
  margin-right: 0; }

.main-header {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 45px;
  background: rgba(0, 0, 0, 0.8); }
  .main-header .nav-logo {
    width: 111px;
    height: 51px;
    transform: translateY(34%); }
  .main-header .main-nav {
    margin: 0 auto;
    height: 100%; }
    .main-header .main-nav .main-nav-list {
      font-family: 'sf-regular';
      list-style: none;
      align-items: center;
      padding: 0;
      margin-bottom: 0;
      height: 100%; }
      .main-header .main-nav .main-nav-list .search-icon img {
        background-color:#313131;
        padding: 2px;
        box-sizing: content-box;
        height: 16px;
        width: 16px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 4px;
        cursor: pointer !important;
        z-index: 10; }
      .main-header .main-nav .main-nav-list .login-btn img {
        width: 14px;
        height: 15px;
        margin-right: 3px; }
      .main-header .main-nav .main-nav-list .my-table-btn img {
        height: 14px;
        width: 26px; }
      .main-header .main-nav .main-nav-list .active {
        color: #f9f9f9; }
      .main-header .main-nav .main-nav-list .nav-link {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-family: "sf-regular";
        padding: 0; }

main {
  min-height: calc(100vh - 295px);
  padding-left: 0 !important;
  padding-right: 0 !important; }
  main .hero {
    background-image: url("../img/header-bg-desktop.png");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh; }
  main .con1 {
    height: 100%; }
  main .filter {
    max-width: 600px;
    width: 100%;
    left: 0;
    bottom: 135px; }
    main .filter .fil-btn {
      width: 291px;
      margin-bottom: 30.5px; }
      main .filter .fil-btn .line {
        height: 0.5px;
        width: 100%;
        background: #707070;
        margin-top: 15px; }
        main .filter .fil-btn .line .line-br {
          background: #000;
          height: 2px;
          width: 70px;
          position: relative;
          top: -1px; }
      main .filter .fil-btn a {
        font-family: 'sf-regular';
        font-size: 14px;
        line-height: 16px;
        color: #050505;
        margin-right: 55px; }
    main .filter .s-form {
      width: 100%;
      margin: 0px;
      padding: 0 !important; }
      main .filter .s-form .input-calendar {
        margin-right: 13px; }
      main .filter .s-form .res-search-btn {
        background: #4486E2;
        border: solid 1px #4486E2;
        border-radius: 2px;
        margin-top: 31px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: #fff;
        width: 105px; }
      main .filter .s-form .ui-selectmenu-button {
        border: none !important;
        border-radius: 0 !important;
        align-items: center;
        padding: 0 17px !important;
        outline: none !important; }
        main .filter .s-form .ui-selectmenu-button .ui-icon {
          background: url("../img/to.svg") !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          margin-right: 15px; }
      main .filter .s-form .ins, main .filter .s-form .ui-selectmenu-button {
        background: #fff;
        width: 291px;
        height: 43px;
        flex: 1 1 45%;
        display: flex;
        font-size: 12px;
        line-height: 14px;
        color: #050505;
        font-family: 'sf-medium';
        margin-bottom: 0; }
  main .commerc {
    max-width: 941px;
    width: 100%;
    margin: 200px auto 335px auto; }
    main .commerc .product-header {
      font-family: 'sf-semibold';
      color: #000;
      font-size: 25px;
      line-height: 30px;
      margin: 0; }
    main .commerc .subheader {
      font-family: 'sf-semibold';
      font-size: 20px;
      line-height: 24px;
      color: #000;
      margin: 26px 0; }
    main .commerc .mr-60 {
      margin-top: 60px; }
    main .commerc .rm-f {
      margin-top: 87px;
      width: 100%;
      display: flex;
      flex-direction: row-reverse; }
      main .commerc .rm-f .rm {
        font-size: 15px;
        line-height: 18px;
        color: #000;
        width: auto;
        font-family: 'sf-medium';
        display: flex;
        flex-direction: row-reverse; }
    main .commerc .product-grid {
      cursor: pointer; }
      main .commerc .product-grid .prod-img {
        height: 180px;
        margin: 25px 0;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important; }
      main .commerc .product-grid .nm-price  a {
        color: #000;
        font-size: 15px;
        line-height: 18px;
      text-decoration: none;
        font-family: 'sf-semibold'; 
      }
      main .commerc .product-grid .nm-price  h1 {
        color: #000;
        font-size: 15px;
        line-height: 18px;
      text-decoration: none;
        font-family: 'sf-semibold'; 
      }
      main .commerc .product-grid .nm-price p {
        color: #000;
        font-size: 15px;
        line-height: 18px;
        font-family: 'sf-light'; }
      main .commerc .product-grid .short-des {
        color: #000;
        font-size: 11px;
        line-height: 13px;
        font-family: 'sf-light'; }

footer {
  height: 147px;
  background: #e5e5e5; }

.search-now {
  height: 135px;
  background: #F5F5F5; }

.dish-com {
  margin: 25px 0 0 0 !important; }
  .dish-com .Dishes .Dishes-header {
    font-family: 'sf-semibold';
    line-height: 30px;
    font-size: 25px;
    color: #000; }
  .dish-com .Dishes .result {
    font-size: 20px;
    font-family: 'sf-semibold';
    color: #000;
    margin-bottom: 50px; }

.pagination {
  margin: 89px 0 74px 0; }
  .pagination a {
    text-decoration: none;
    color: #1D1D1D;
    font-size: 15px;
    line-height: 18px;
    padding: 0 15px; }

.single-dish {
  margin-top: 148px;
  max-width: 941px;
  width: 100%; }
  .single-dish .finish-res {
    padding-left: 27px;
    width: 407px;
    height: 57px;
    border-radius: 7px;
    border: solid 1px #A4DEC8;
    font-size: 12px;
    line-height: 14px;
    color: #080808; }
    .single-dish .finish-res .suc {
      font-family: 'sf-semibold';
      margin-right: 13px;
      margin-bottom: 0; }
    .single-dish .finish-res .success-res {
      font-family: 'sf-medium';
      margin-bottom: 0; }
  .single-dish .img-sec {
    max-width: 564px;
    width: 100%;
    height: 393px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
  .single-dish .details-sec {
    width: 100%;
    max-width: 273.5px; }
    .single-dish .details-sec .pre-head h1 {
      font-size: 25px;
      font-family: 'sf-semibold';
      color: #000000;
      line-height: 30px;
      max-width: 193px;
      margin-bottom: 8px; }
    .single-dish .details-sec .pre-head p {
      font-size: 23px;
      font-family: 'helvetica-regular';
      color: #707070;
      line-height: 27px;
      margin-bottom: 0; }
    .single-dish .details-sec .single-result {
      font-size: 20px;
      font-family: 'sf-semibold';
      color: #000;
      line-height: 24px;
      margin-bottom: 20px; }
    .single-dish .details-sec .single-res {
      font-size: 12px;
      font-family: 'helvetica-regular';
      color: #000;
      line-height: 14px;
      margin-bottom: 14px;
      margin-bottom: 44px; }
    .single-dish .details-sec .the-size {
      font-size: 16px;
      font-family: 'helvetica-regular';
      color: #707070;
      line-height: 18px;
      margin-bottom: 10px; }
    .single-dish .details-sec .single-size {
      margin-bottom: 80px; }
      .single-dish .details-sec .single-size .single-choose {
        margin-top: 10px;
        border: solid 1px #B9B9B9;
        border-radius: 7px;
        height: 56px;
        padding: 0 30px; }
        .single-dish .details-sec .single-size .single-choose .lari {
          font-size: 16px;
          font-family: 'helvetica-regular';
          color: #707070;
          line-height: 18px;
          margin-bottom: 0; }
        .single-dish .details-sec .single-size .single-choose .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
          background: #555555 !important;
          border-radius: 54%;
          width: 11px;
          height: 11px;
          border: solid 2px #555555;
          box-shadow: none !important;
          box-shadow: none;
          left: 0;
          top: 0; }
        .single-dish .details-sec .single-size .single-choose .custom-radio {
          width: 11px;
          height: 11px;
          padding: 0;
          min-height: 11px; }
          .single-dish .details-sec .single-size .single-choose .custom-radio .custom-control-label {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0; }
          .single-dish .details-sec .single-size .single-choose .custom-radio .custom-control-label::after {
            left: 0;
            top: 0; }
          .single-dish .details-sec .single-size .single-choose .custom-radio .custom-control-label::before {
            border-radius: 54%;
            background: transparent;
            border: solid 2px #555555;
            height: 11px;
            width: 11px;
            cursor: pointer;
            left: 0;
            top: 0; }
        .single-dish .details-sec .single-size .single-choose .dificult {
          flex-direction: column;
          margin-left: 24px; }
          .single-dish .details-sec .single-size .single-choose .dificult strong {
            font-size: 12px;
            font-family: 'helvetica-bold';
            color: #000;
            line-height: 15px;
            margin-bottom: 0; }
          .single-dish .details-sec .single-size .single-choose .dificult p {
            font-size: 12px;
            font-family: 'helvetica-bold';
            color: #7B7B7B;
            line-height: 15px;
            margin-bottom: 0; }
    .single-dish .details-sec .Quantity input[type=number]::-webkit-inner-spin-button,
    .single-dish .details-sec .Quantity input[type=number]::-webkit-outer-spin-button {
      display: none; }
    .single-dish .details-sec .Quantity #Quantity {
      margin-top: 20px;
      background: transparent;
      border: none;
      border-bottom: solid 2px #BCBCBC;
      box-shadow: none !important;
      width: 57px;
      outline: none; }
    .single-dish .details-sec .send-single {
      margin-top: 55px;
      margin-bottom: 85px; }
      .single-dish .details-sec .send-single .disabled {
        background: #C6C6C6 !important; }
      .single-dish .details-sec .send-single .order {
        background: #4486E2;
        border-radius: 2px;
        font-family: 'sf-medium';
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        width: 105px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        outline: none !important; }
      .single-dish .details-sec .send-single .go-back {
        margin-left: 70px;
        background: transparent;
        width: auto;
        border: none;
        text-decoration: none !important;
        font-family: 'sf-medium';
        font-size: 12px;
        line-height: 14px;
        color: #808080; }

.client-table {
  margin-top: 135px; }
  .client-table .my-table {
    width: 100%;
    max-width: 474px; }
    .client-table .my-table .main-h1 {
      font-size: 25px;
      line-height: 30px;
      color: #000;
      font-family: 'sf-semibold';
      margin-bottom: 20px; }
    .client-table .my-table .res-name {
      font-size: 20px;
      line-height: 24px;
      color: #000;
      font-family: 'sf-semibold';
      margin-bottom: 55px; }
    .client-table .my-table .sell-sec {
      width: 272px; }
      .client-table .my-table .sell-sec .selected {
        width: 100%;
        height: 50px;
        margin-bottom: 20px; }
        .client-table .my-table .sell-sec .selected .sel-vis {
          width: 100%; }
          .client-table .my-table .sell-sec .selected .sel-vis .m-img {
            width: 46px;
            height: 49px;
            margin-right: 3px; }
          .client-table .my-table .sell-sec .selected .sel-vis .sel-head {
            width: 95px; }
            .client-table .my-table .sell-sec .selected .sel-vis .sel-head .selected-child {
              width: 100%;
              flex-direction: column; }
            .client-table .my-table .sell-sec .selected .sel-vis .sel-head .select-h1 {
              font-size: 12px;
              line-height: 14px;
              color: #000;
              font-family: 'sf-semibold';
              width: 100%;
              margin-bottom: 0; }
            .client-table .my-table .sell-sec .selected .sel-vis .sel-head .selected-des {
              font-size: 9px;
              font-family: 'sf-light';
              line-height: 11px;
              color: #707070;
              width: 100%;
              margin-bottom: 0; }
          .client-table .my-table .sell-sec .selected .sel-vis .sel-lari {
            color: #707070;
            font-size: 14px;
            line-height: 16px;
            font-family: 'helvetica-ragular';
            margin-bottom: 0; }
          .client-table .my-table .sell-sec .selected .sel-vis .x-close {
            width: 4px;
            height: 4px;
            padding: 0;
            background: #555555;
            box-shadow: none !important; }
            .client-table .my-table .sell-sec .selected .sel-vis .x-close img {
              width: 4px;
              height: 4px;
              vertical-align: initial; }
          .client-table .my-table .sell-sec .selected .sel-vis .sel-remove {
            color: #FF0000;
            font-size: 12px;
            line-height: 14px;
            font-family: 'sf-semibold';
            padding: 0 !important;
            box-shadow: none !important;
            background: transparent; }
    .client-table .my-table .total-table {
      margin-top: 40px;
      font-size: 12px;
      line-height: 14px;
      color: #9F9F9F;
      font-family: 'sf-light'; }
      .client-table .my-table .total-table strong {
        font-size: 20px;
        line-height: 24px;
        color: #000;
        font-family: 'sf-semibold'; }
    .client-table .my-table #send-comment {
      width: 474px;
      height: 128px;
      border: solid 1px #707070;
      outline: none !important;
      padding: 15px;
      resize: none;
      margin-top: 50px;
      margin-bottom: 70px; }
    .client-table .my-table .send-request {
      background: #4486E2;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      width: 170px;
      height: 33px;
      padding: 0px;
      line-height: 33px;
      color: #fff;
      font-family: 'sf-medium';
      font-size: 12px;
      margin-bottom: 130px; }

.call-dir {
  width: 100px; }
  .call-dir .call-loc {
    width: 44px;
    height: 44px;
    flex-direction: column;
    align-items: center; }
    .call-dir .call-loc img {
      width: 24px;
      height: 24px; }
  .call-dir .con-des {
    color: #4486E2;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    position: relative;
    margin-top: 9px;
    font-family: 'sf-semibold'; }

.loc-adress {
  margin-top: 40px; }
  .loc-adress .adress {
    color: #8E8E8E;
    font-family: 'sf-light';
    font-size: 12px;
    line-height: 14px; }
  .loc-adress img {
    width: 14px;
    height: 14px;
    margin-right: 9px; }

.dish-list {
  margin-top: 40px;
  margin-bottom: 80px; }
  .dish-list .dish-list-header {
    color: #000;
    font-size: 25px;
    line-height: 30px;
    font-family: 'sf-semibold'; }
  .dish-list #collapse .card {
    border: none !important; }
    .dish-list #collapse .card .card-header {
      padding: 10px 0;
      margin-bottom: 0;
      background-color: initial;
      border-bottom: initial; }
      .dish-list #collapse .card .card-header .header-of-coll {
        cursor: pointer; }
        .dish-list #collapse .card .card-header .header-of-coll .drop-down-dishes {
          border: 0 !important;
          background: transparent;
          outline: none !important;
          font-size: 14px;
          line-height: 16px;
          font-family: 'sf-semibold';
          padding: 0 !important;
          cursor: pointer; }
        .dish-list #collapse .card .card-header .header-of-coll .dr-arrow {
          width: 13px;
          height: 8px;
          cursor: pointer;
          transform: rotateX(0deg); }
    .dish-list #collapse .card .card-body {
      padding: 0px !important; }
      .dish-list #collapse .card .card-body .sel-vis {
        width: 100%;
        margin-bottom: 20px; }
        .dish-list #collapse .card .card-body .sel-vis .m-img {
          width: 46px;
          height: 49px;
          margin-right: 3px; }
        .dish-list #collapse .card .card-body .sel-vis .sel-head {
          width: 95px; }
          .dish-list #collapse .card .card-body .sel-vis .sel-head .selected-child {
            width: 100%;
            flex-direction: column; }
          .dish-list #collapse .card .card-body .sel-vis .sel-head .select-h1 {
            font-size: 12px;
            line-height: 14px;
            color: #000;
            font-family: 'sf-semibold';
            width: 100%;
            margin-bottom: 0; }
          .dish-list #collapse .card .card-body .sel-vis .sel-head .selected-des {
            font-size: 9px;
            font-family: 'sf-light';
            line-height: 11px;
            color: #707070;
            width: 100%;
            margin-bottom: 0; }
        .dish-list #collapse .card .card-body .sel-vis .from-lari {
          flex-direction: column;
          height: 49px; }
          .dish-list #collapse .card .card-body .sel-vis .from-lari .sel-lari {
            color: #707070;
            font-size: 14px;
            line-height: 16px;
            font-family: 'helvetica-ragular';
            margin-bottom: 0; }
          .dish-list #collapse .card .card-body .sel-vis .from-lari .sel-from {
            color: #707070;
            font-size: 9px;
            line-height: 11px;
            font-family: 'sf-light';
            margin-bottom: 1px; }
        .dish-list #collapse .card .card-body .sel-vis .sel-order {
          font-size: 12px;
          line-height: 14px;
          font-family: 'sf-semibold';
          padding: 0 !important;
          color: #383838;
          background: transparent; }

.finished {
  margin-top: 110px; }
  .finished .finish-header {
    font-size: 25px;
    line-height: 30px;
    font-family: 'sf-semibold';
    margin-bottom: 20px;
    margin-left: 15px; }
  .finished .finish-res {
    padding-left: 27px;
    max-width: 551px;
    width: 100%;
    height: 57px;
    border-radius: 7px;
    border: solid 1px #A4DEC8;
    font-size: 12px;
    line-height: 14px;
    color: #080808; }
    .finished .finish-res .suc {
      font-family: 'sf-semibold';
      margin-right: 13px;
      margin-bottom: 0; }
    .finished .finish-res .success-res {
      font-family: 'sf-medium';
      margin-bottom: 0; }
  .finished .you-confirm {
    color: #9F9F9F;
    font-size: 12px;
    line-height: 14px;
    font-family: 'sf-semibold';
    margin: 40px  0 50px 25px; }
  .finished .order {
    font-family: 'sf-Semibold';
    font-size: 20px;
    line-height: 24px;
    margin-left: 15px; }
  .finished .det-ord {
    font-family: 'sf-Semibold';
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    margin-top: 14px; }
  .finished .we-wo {
    font-family: 'sf-light';
    font-size: 14px;
    line-height: 16px;
    margin-top: 45px;
    margin-bottom: 9px;
    width: 265px; }
  .finished .tele-con {
    width: 175px;
    height: 25px;
    margin-bottom: 343px; }
    .finished .tele-con img {
      width: 25px;
      height: 25px; }
    .finished .tele-con .tele-no {
      font-size: 14px;
      font-family: 'sf-light'; }

.my-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.95);
  border: solid 1px #707070;
  z-index: 1000;
  height: -webkit-fill-available;
  overflow-y: auto;
  display: none; }
  .my-modal .types-of-dishes {
    width: 100%;
    max-width: 484px;
    background: #fff;
    flex-direction: column;
    position: relative;
    height: auto;
    top: 45px; }
    .my-modal .types-of-dishes .close-type {
      width: 11px;
      height: 11px;
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer; }
    .my-modal .types-of-dishes .type-header {
      margin-top: 60px;
      font-size: 25px;
      line-height: 30px;
      font-family: 'sf-semibold';
      width: 271px; }
    .my-modal .types-of-dishes .prod {
      width: 271px; }
    .my-modal .types-of-dishes .shdf {
      font-family: 'sf-light';
      font-size: 14px;
      line-height: 16px;
      margin-top: 6px; }
    .my-modal .types-of-dishes .prod-img {
      height: 180px;
      margin: 25px 0;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important; }
    .my-modal .types-of-dishes .nm-price a{
      text-decoration: none;
      color: #000;
      font-size: 15px;
      line-height: 18px;
      font-family: 'sf-semibold'; }
    .my-modal .types-of-dishes .nm-price p {
      color: #000;
      font-size: 15px;
      line-height: 18px;
      font-family: 'sf-light'; }
    .my-modal .types-of-dishes .short-des {
      color: #000;
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 0;
      font-family: 'sf-light'; }

footer {
  padding: 20px 0; }
  footer .foodes {
    color: #1D1D1D;
    font-size: 10px;
    line-height: 12px;
    font-family: 'sf-light';
    height: 28px;
    margin-bottom: 0; }
  footer .fooline {
    width: 100%;
    margin-bottom: 6.5px;
    height: 7px;
    border-bottom: solid 0.5px #D1D1D1; }
  footer nav {
    margin: 8px 3px;
    height: 38px;
    margin-bottom: 0; }
    footer nav .foonav {
      list-style: none;
      padding: 0; }
      footer nav .foonav li {
        height: 14px;
        align-items: center;
        display: flex; }
        footer nav .foonav li a {
          color: #1D1D1D;
          font-family: 'sf-semibold';
          font-size: 8px;
          text-decoration: none; }
  footer .foocr {
    color: #1D1D1D;
    font-family: 'sf-light';
    font-size: 10px;
    line-height: 12px;
    margin: 8px 0 0 3px; }

.send-single.cp {
  margin-left: 15px; }
  .send-single.cp .mt-link {
    color: #4486E2 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    margin-left: 25px !important; }

#speed-menu {
  width: 291px !important;
  border: none;
  border-top: solid #c5c5c5 1px; }
  #speed-menu .ui-menu-item-wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 !important;
    font-size: 12px;
    line-height: 14px;
    color: #050505;
    font-family: 'sf-medium';
    margin-bottom: 0; }
    #speed-menu .ui-menu-item-wrapper .select-gue {
      width: 18px;
      height: 17px;
      margin-right: 15px;
      margin-left: 20px; }
  #speed-menu .ui-state-active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background: none !important;
    color: #000 !important;
    border: none !important; }

.home-res {
  display: none; }

.rm-icon {
  display: none; }

#datepicker {
  padding: 0 17px;
  border: none;
  border-radius: 0 !important;
  font-size: 12px;
  line-height: 14px;
  color: #050505;
  font-family: 'sf-medium'; }

#back-of-calendar {
  width: 17px;
  background: url(../img/to.svg);
  background-size: contain !important;
  height: 18px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  align-self: center;
  margin-left: 17px; }

.collapsed .dr-arrow {
  transform: rotateX(180deg) !important; }

.dolari {
  color: #000 !important;
  font-size: 12px !important;
  font-family: 'sf-light' !important; }

.x-width {
  min-width: 160px; }

.y-width {
  min-width: 500px; }

#mains-search {
  width: 20px;
  border: none;
  opacity: 0;
  transition: all 0.6s;
  padding-left: 0px;
  outline: none !important;
  border-radius: 2px;
  height: 16px; }

.mains-s #mains-search {
  width: 200px;
  opacity: 1;
  height: 26px;
  padding-left: 23px; }

.search-icon {
  position: relative; }

.x-width {
  min-width: 160px; }

.y-width {
  min-width: 500px; }

#mains-search {
  width: 20px;
  border: none;
  opacity: 0;
  transition: all 0.6s;
  padding-left: 23px;
  outline: none !important;
  border-radius: 2px; }

.mains-s #mains-search {
  width: 200px;
  opacity: 1; }

.search-icon {
  position: relative; }

.s-form-dish {
  margin: 0 auto;
  height: 18.5px; }

#speed-dish {
  width: 100px; }

.search-now {
  align-items: center;
  display: flex;
  padding-top: 45px; }

.eimg {
  width: 9px;
  height: 9px;
  padding: 0;
  align-self: center;
  background: transparent;
  border-radius: 0;
  background-image: url("../img/to.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 9px; }

#speed-dish-button {
  font-size: 12px;
  color: #808080;
  font-family: 'sf-regular';
  line-height: 14px;
  height: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 1px #808080;
  border-radius: 0;
  padding: 0;
  padding-bottom: 4.5px; }
  #speed-dish-button .ui-icon {
    background-image: url("../img/to.svg");
    background-size: contain;
    background-position: center;
    height: 9px;
    width: 9px;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    right: 4.5px; }

.ins-dish, #speed-dish-button {
  width: 100px;
  height: 100%;
  outline: none !important; }

.res-search-btn-dish {
  background: transparent;
  padding: 0;
  font-family: 'sf-regular';
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  outline: none !important; }

#speed-dish-menu {
  width: 100px !important;
  border: none;
  border-top: solid #c5c5c5 1px; }
  #speed-dish-menu .ui-menu-item-wrapper {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 !important;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
    font-family: 'sf-medium';
    margin-bottom: 0; }
    #speed-dish-menu .ui-menu-item-wrapper .select-gue {
      width: 10px;
      height: 10px;
      margin-right: 7px;
      margin-left: 7px; }
  #speed-dish-menu .ui-state-active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background: none !important;
    border: none !important;
    color: #808080 !important; }

.input-calendar-dish {
  margin-right: 15px; }

#datepicker-dish {
  margin-right: 0;
  font-size: 12px;
  line-height: 14px;
  background: transparent;
  border: none;
  padding: 0; }

#back-of-calendar-dish {
  background: url("../img/to.svg");
  width: 9px;
  height: 9px;
  background-position: center;
  background-size: contain;
  align-self: center;
  margin-right: 5px; }

.ins-dish {
  font-family: 'sf-regular';
  height: 100%;
  border: none;
  border-bottom: solid 1px #808080;
  border-radius: 0;
  padding: 0;
  padding-bottom: 4.5px; }

@media (max-width: 767px) {
  .home-res {
    display: block; }

  .x-width .login-btn {
    display: none !important; }

  .main-header .nav-logo {
    margin-left: auto;
    margin-right: auto; }
  .main-header .main-nav {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 0;
    position: relative; }
    .main-header .main-nav .y-width {
      min-width: 100% !important;
      width: 100%; }
    .main-header .main-nav .x-width {
      position: absolute;
      min-width: 0;
      width: auto;
      right: 0; }
    .main-header .main-nav .for-dn {
      display: none !important; }

  .on-click li {
    display: block !important; }

  .rm-icon {
    height: 13.5px;
    width: 27px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.6s;
    z-index: 100;
    display: block;
    cursor: pointer; }
    .rm-icon .cr-1, .rm-icon .cr-2 {
      height: 1px;
      background: #fff;
      position: relative;
      width: 27px;
      transition: all 0.6s; }
    .rm-icon .cr-2 {
      margin-top: 11px; }

  .rm-cross {
    height: 21px;
    width: 20px; }
    .rm-cross .cr-1 {
      transform: rotate(-45deg) translate(-9px, 4.5px); }
    .rm-cross .cr-2 {
      transform: rotate(45deg) translate(4px, 8px);
      margin: 0;
      width: 27px; }

  .main-header .main-nav .on-click {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    padding: 120px 0 300px  0; }
    .main-header .main-nav .on-click .nav-logo {
      top: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .main-header .main-nav .on-click .nav-item .nav-link {
      display: block !important;
      font-size: 31px !important;
      font-family: 'sf-light' !important; }

  .prod {
    margin: 0 auto; }

  .finished {
    min-height: inherit;
    height: auto;
    margin-bottom: 35px; }

  footer .container {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  footer .foodes {
    font-size: 8px;
    line-height: 10px; }
  footer .foocr {
    font-size: 8px;
    line-height: 10px; } }
@media (max-width: 992px) {
  .hero {
    background-image: url("../img/header-bg-mobile.png") !important; }

  .dish-com {
    flex-direction: column; }

  .single-dish .img-sec {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 530px; }
  .single-dish .details-sec {
    max-width: 530px;
    width: 100%;
    margin: 0 auto; }
    .single-dish .details-sec .Quantity {
      width: 100px;
      display: inline-block; }
      .single-dish .details-sec .Quantity #Quantity {
        margin-top: 8px; }
    .single-dish .details-sec .send-single {
      display: inline-block; }

  .single-dish .finish-res {
    width: 100%; }
  .single-dish .details-sec .send-single {
    margin-top: 45px;
    margin-bottom: 45px; }
    .single-dish .details-sec .send-single .go-back {
      margin-left: 30px; } }
@media (max-width: 540px) {
  .finished .tele-con {
    margin-bottom: 0; }

  .finished {
    max-width: 256px;
    margin-right: auto;
    margin-left: auto; }
    .finished .finish-res {
      padding-left: 7.5px;
      padding-right: 7.5px; }

  main .filter {
    padding: 0 15px; }
    main .filter .fil-btn {
      width: 100%; }
    main .filter .s-form {
      display: flex;
      flex-direction: column; }
      main .filter .s-form .res-search-btn {
        margin-top: 10px; }
      main .filter .s-form .ins, main .filter .s-form .ui-selectmenu-button {
        max-height: 41px !important;
        margin-bottom: 20px; }
  main .commerc {
    margin: 80px auto 60px auto; }
    main .commerc .rm-f {
      margin-top: 80px;
      width: 100%; }

  .s-form-dish {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    justify-content: space-between; }

  .eimg {
    margin: 0 2px; }

  .single-dish {
    margin-top: 44px; }
    .single-dish .img-sec {
      height: 238px; }
    .single-dish .details-sec {
      max-width: 266px; }

  .Quantity {
    display: block; }

  .client-table {
    margin-top: 90px;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
    .client-table .my-table #send-comment {
      width: 100%; }
    .client-table .my-table .sell-sec {
      width: 100%; }
    .client-table .my-table .send-request {
      margin-bottom: 60px; } }

/*# sourceMappingURL=style.css.map */
